@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

body {
    padding-left: 5%;
    padding-right: 5%; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


nav {
display: inline;
}

.menu {
    float: inline-end;
}

h1 {
    display: inline

}

.tittle {
    color: darkgreen;
    border: 2px;
    text-decoration: underline;
}